<h1>Infonet Invoice Browser</h1>
<h2>Invoices</h2>

<%= form_for_filterrific @filterrific do |f| %>
<div>
  status
  <%= f.select(
    :with_status,
    @filterrific.select_options[:with_status],
    { include_blank: '- Any -'}
  )
  %>
</div>
<% end %>

<%= render(
  partial: 'invoices/list',
  locals: { invoices: @invoice }
  )
%>
